/* nav  */

/* header  */


h2 {
    color: black;
}
.trends-parent {
    max-height: 900px;
    overflow: hidden;
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-right: 0;
    margin-right: 0;
    
 }
 .trends-parent figure{
     min-height: 80%;

 }
 .trends-parent figure img {
    min-height: 90%;
    max-width: 400px;
 }
 

 
 

 

/* section  */

/* footer  */