* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/* nav  */
nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
.nav-container1 {
display: space;
}

.top-bar {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    
    display: block;
}

.help-dropdown {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
}

.drop-container {
    position: relative;
    display: inline-block;
}

.drop {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.drop a:hover {background-color: #e34b4b;}
.drop-bar:hover .drop {display: block;}
.top-bar:hover .help-dropdown {background-color: #3e8e41;}

.topbar2 {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: block;
}
/* header  */


h2 {
    color: black;
}
.trends-parent {
    max-height: 900px;
    overflow: hidden;
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    
    
 }
 .trends-parent figure{
     min-height: 80%;

 }
 .trends-parent figure img {
    min-height: 90%;
    max-width: 400px;
 }
 

 
 

 

/* section  */
section {
    border:dashed red 2px;
}

section .gallery{
    padding:1em 4em 0;
}

section .gallery h3{
    font-family:sans-serif;
    font-weight:lighter;
    font-size:1.5em;
    margin-bottom:0.5em;
}

section .deck {
    display:flex;
    gap:1em;
}

section .card {
    display:inline-block;
    max-width:300px;
    border:dashed greenyellow 2px;

}

section .card div{
    
}

section .card img {
    height:300px;
    width:300px;
    object-fit: cover;

}

section .card p {
    font-family:sans-serif;
    color:rgb(88, 88, 88);
    margin:1em 0 0.2em;
}

/* footer  */
